<html>
    <head>
        <title>Shopping List App</title>
        <link rel="stylesheet" href="./src/main.css">
    </head>

    <body>
        <div id="shopping-list">
            <div class="header">
                <h1>{{ header.toLocaleUpperCase() }}</h1>
                <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel Adding Item</button>
            </div>

            <div v-if="state === 'edit'" class="add-item-form">
                <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
                <p>{{ characterCount }}/200</p>
                <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem">Save Item</button>
            </div>
            
            <ul>
              <li v-for="item in items" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{ item.label }}</li>
            </ul>
            <p v-if="items.length === 0">Nice job! You've bought all your items.</p>
        </div>

<!-- Import Vue.js -->
<script src="https://unpkg.com/vue"></script>

<!-- Your JavaScript Code -->
<script src="./src/main.js"></script>

</body>
</html>